<div class="containter">
    <p>recipe works!</p>
    <form (submit)="searchRecipe()">
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" name="search" class="form=control" [(ngModel)]="searchQuery">
        </div>
        <button type="submit" class="btn btn-primary">Search!</button>
    </form>
    <div class="container">
        <div class="row">
            <p>recipe: </p>
            <div class="col-lg-3">
                <div *ngFor="let recipe of recipes">
                    <div class="card" style="width: 50rem;">
                        <form (submit)="saveRecipe()">
                        <h4 class="card-title">{{ recipeTitle }}</h4>
                        <div class="card-text">{{ Instructions }}</div>
                        <div *ngFor="let ingredient of ingredients" class="card-footer">
                            <p>{{ ingredient }}</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>