<div class="containter">
    <app-search-recipe [user]="user"></app-search-recipe>
    <app-random-recipe></app-random-recipe>
    <div class="container">
        <div class="row">
            <p>My recipes: </p>
            <div class="col-lg-3">
                <div *ngIf="recipes">
                   <div *ngFor="let recipe of recipes">
                        <div class="card" style="width: 50rem;">
                                <h4 class="card-title">{{ recipe?.recipetitle }}</h4>
                                <div class="card-text">{{ recipe?.Instructions }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>