<div class="containter">
    <p>recipe works!</p>
    <form (submit)="searchRecipe()">
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" name="search" class="form=control" [(ngModel)]="searchQuery">
        </div>
        <button type="submit" class="btn btn-primary">Search!</button>
    </form>
    <div class="container">
        <div class="row">
            <p>recipe: </p>
            <p> {{ recipeTitle }} </p>
            <div class="row">{{ Instructions }}</div>
            <div *ngFor="let ingredient of ingredients">
                <p>{{ ingredient }}</p>
            </div>
        </div>
    </div>
</div>