<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div id="navbar-main">
      <ul class=" navbar-nav mr-auto">
        <li><a routerLink="/" class="btn btn-primary">Home</a></li>
      </ul>
      <ul class=" navbar-nav mr-auto">
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login" class="btn btn-primary nav-item">Sign in</a></li>
        <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile" class="btn btn-primary nav-item">{{ auth.getUserDetails()?.name }}</a></li>
        <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()" class="btn btn-primary nav-item">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
