<div *ngIf="recipes">
    <div *ngFor="let recipe of recipes">
        <div class="card col-sm" style="width: 50rem;">
            <h4 class="card-title" id="title">{{ recipe?.recipetitle }}</h4>
            <img src="{{recipe?.Img}}" class="card-img" alt="No image" id="img">
            <div class="card-text" id="instructions">{{ recipe?.Instructions }}</div>
            <p id="Cuisine" class="card-text">Type: &nbsp; {{recipe?.Cuisine}}</p>
            <p id="Category" class="card-text">Category:&nbsp;{{recipe?.Category}}</p>
        </div>
    </div>